<template>
    <card title="Потоки" body-class="p-0" :loading="!loaded">
        <template slot="tools" v-if="loaded && users.meta.last_page > 1">
            <pagination @changePage="changePage" :current="users.meta.current_page" :total="users.meta.total" :per-page="users.meta.per_page"></pagination>
        </template>
        <table class="table table-striped table-sm">
            <thead>
            <tr>
                <th>id</th>
                <th>Имя</th>
                <th>Email</th>
                <th>Создан</th>
                <th>Изменён</th>
                <th>Управление</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="user in users.data">
                <td>{{ user.id }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.created_at }}</td>
                <td>{{ user.updated_at }}</td>
                <td>
                    <div class="btn-group">
                        <router-link :to="{name: 'user_show', params:{id:user.id}}" class="btn btn-default btn-xs" title="Просмотр"><i class="fas fa-eye"></i></router-link>
                        <router-link :to="{name: 'user_edit', params:{id:user.id}}" class="btn btn-default btn-xs" title="Редактирование"><i class="fas fa-edit"></i></router-link>
                        <a class="btn btn-default btn-xs" href="#" @click.prevent="destroy(user.id)" title="Удалить"><i class="fas fa-trash"></i></a>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <template slot="footer" v-if="loaded && users.meta.last_page > 1">
            <pagination @changePage="changePage" :current="users.meta.current_page" :total="users.meta.total" :per-page="users.meta.per_page"></pagination>
        </template>
    </card>
</template>

<script>
    import Swal from 'sweetalert2';
    import {mapGetters} from 'vuex';
    import Card from '../Card';
    import Pagination from '../Pagination';
    import {apiDestroy, apiIndex} from '../../api';

    export default {
        components: {
            Pagination,
            Card
        },
        computed:{
            ...mapGetters(['checkRole']),
        },
        data(){
            return {
                loaded: false,
                users:{},
            }
        },
        methods: {
            changePage(page){
                this.loaded = false;
                apiIndex('user', page)
                    .then(response => {
                        this.users = response.data;
                        this.loaded = true;
                        this.$router.push({ name: 'user_page', params: { num: page } });
                    })
                    .catch(error => {
                        Swal.fire({
                            toast: true,
                            position: 'top-end',
                            showConfirmButton: false,
                            timer: 3000,
                            title: 'Ошибка!',
                            text: error.response.data.message,
                            icon: 'error',
                        });
                    });
            },
            destroy(id){
                apiDestroy('user', id)
                    .then(response => {
                        this.users.data.forEach((item, index) => {
                            if(item.id === id){
                                Swal.fire({
                                    toast: true,
                                    position: 'top-end',
                                    showConfirmButton: false,
                                    timer: 3000,
                                    title: `${item.name_ru} id:${id}`,
                                    text: `успешно удаленно`,
                                    icon: 'success',
                                });

                                this.$delete(this.users.data, index)
                            }
                        });
                        this.users.meta.total -= 1;
                    })
                    .catch(error => {
                        Swal.fire({
                            toast: true,
                            position: 'top-end',
                            showConfirmButton: false,
                            timer: 3000,
                            title: 'Ошибка!',
                            text: error.response.data.message,
                            icon: 'error',
                        });
                    });
            },
        },
        mounted() {
            let page = this.$route.params.num ? this.$route.params.num : 1;

            apiIndex('user', page)
                .then(response => {
                    this.users = response.data;
                    this.loaded = true;
                })
                .catch(error => {
                    Swal.fire({
                        toast: true,
                        position: 'top-end',
                        showConfirmButton: false,
                        timer: 3000,
                        title: 'Ошибка!',
                        text: error.response.data.message,
                        icon: 'error',
                    });
                });
        }
    }
</script>

<style scoped>

</style>
