<template>
    <div class="row">
        <div class="col-4">
            <card :title="title" :loading="!loaded" body-class="p-0">
                <table class="table table-sm table-striped border-0" v-if="loaded">
                    <tbody>
                    <tr>
                        <th>ID:</th>
                        <td>{{ resource.id }}</td>
                    </tr>
                    <tr>
                        <th>Имя:</th>
                        <td>{{ resource.name }}</td>
                    </tr>
                    <tr>
                        <th>Email:</th>
                        <td>{{ resource.email }}</td>
                    </tr>
                    <tr>
                        <th>Создан:</th>
                        <td>{{ resource.created_at }}</td>
                    </tr>
                    <tr>
                        <th>Изменён:</th>
                        <td>{{ resource.updated_at }}</td>
                    </tr>
                    </tbody>
                </table>
            </card>
        </div>
        <div class="col-8">
            <card title="Роли" :loading="!loaded" body-class="p-0">
                <table class="table table-striped table-sm" v-if="loaded">
                    <tbody>
                    <tr>
                        <th>Роль</th>
                        <th>Описание</th>
                    </tr>
                    <tr v-for="role in resource.roles">
                        <td>{{ role.name }}</td>
                        <td>{{ role.description }}</td>
                    </tr>
                    </tbody>
                </table>
            </card>

            <card title="Баланс" :loading="!loaded" body-class="p-0">
                <table class="table table-striped table-sm" v-if="loaded">
                    <tbody>
                    <tr>
                        <th>Валюта</th>
                        <th>Колличевство</th>
                    </tr>
                    <tr v-for="balance in resource.balances">
                        <td>{{ balance.currency.code }}</td>
                        <td>{{ balance.amount }} {{ balance.currency.abbreviation_ru }}.</td>
                    </tr>
                    </tbody>
                </table>
            </card>
        </div>
        <div class="col-12">
            <card title="Потоки" :loading="!loaded" body-class="p-0">
                <table class="table table-striped table-sm" v-if="loaded">
                    <tbody>
                    <tr>
                        <th>ID</th>
                        <th>Название</th>
                        <th>Оффер</th>
                        <th>Статус</th>
                        <th>Создан</th>
                    </tr>
                    <tr v-for="stream in resource.streams">
                        <td>{{ stream.id }}</td>
                        <td>{{ stream.name }}</td>
                        <td>
                            <div v-if="stream.offer">
                                <img class="img-thumbnail" width="50" :src="`/storage/offers/${stream.offer.image}`" :alt="stream.offer.name" :title="stream.offer.description">
                                <router-link :to="{name: 'offer_show', params:{id:stream.offer.id}}">{{ stream.offer.name }}</router-link>
                            </div>
                        </td>
                        <td>{{ stream.status }}</td>
                        <td>{{ stream.created_at }}</td>
                    </tr>
                    </tbody>
                </table>
            </card>
        </div>
    </div>
</template>

<script>
    import {apiShow} from '../../api';
    import Swal from "sweetalert2";
    import Card from '../Card';
    import {mapActions} from "vuex";

    export default {
        components: {
            Card,
        },
        data() {
            return {
                loaded: false,
                title: '',
                resource: null,
            }
        },
        methods: {
            ...mapActions(['setPageTitle', 'setBreadcrumbs']),
        },
        beforeMount() {

            apiShow('user', this.$route.params.id)
                .then(response => {
                    this.resource = response.data;
                    this.title = response.data.name;
                    this.loaded = true;

                    this.setBreadcrumbs([
                        {
                            name: 'Пользователи',
                            active: false,
                            router: {name: 'user'}
                        },
                        {
                            name: response.data.email,
                            active: true,
                        }
                    ]);
                    this.setPageTitle(`Просмотр пользователя: ${response.data.name}`);

                })
                .catch(error => {
                    Swal.fire({
                        toast: true,
                        position: 'top-end',
                        showConfirmButton: false,
                        timer: 3000,
                        title: 'Ошибка!',
                        text: error.response.data.message,
                        icon: 'error',
                    });
                });

        }
    }
</script>

<style scoped>

</style>
