<template>
    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-header border-0">
                    <div class="d-flex justify-content-between">
                        <h3 class="card-title">Лиды</h3>
                    </div>
                </div>
                <div class="card-body" v-if="datacollection">
                    <div class="position-relative">
                        <line-chart :chart-data="datacollection" :height="200"></line-chart>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import {mapActions} from 'vuex';
    import LineChart from '../LineChart';
    import {apiIndex} from "../../api";

    export default {
        components: {
            LineChart
        },
        data () {
            return {
                datacollection: null
            }
        },
        methods: {
            ...mapActions(['setPageTitle', 'setBreadcrumbs']),
        },
        beforeMount() {
            this.setPageTitle('Консоль');
            this.setBreadcrumbs([]);

            apiIndex('console/lead-stat').then(response => {
                this.datacollection = response.data;
            }).catch(error => {
                console.log(error);
            })
        },
    }
</script>

<style scoped>

</style>
