<template>
    <div>
        Роли
    </div>
</template>

<script>
    import {mapActions} from "vuex";

    export default {
        methods:{
            ...mapActions(['setPageTitle']),
        },
        beforeMount() {
            this.setPageTitle('Роли');
        }
    }
</script>

<style scoped>

</style>
