<template>
    <card title="Статистика">
        <statistics-component api-url="/admin/api/user/statistics"></statistics-component>
    </card>
</template>

<script>
    import Card from "../Card";
    import StatisticsComponent from "../StatisticsComponent";
    import {mapActions} from "vuex";
    export default {
        components: {StatisticsComponent, Card},
        methods:{
            ...mapActions(['setPageTitle']),
        },
        beforeMount() {
            this.setPageTitle('Статистика');
        }
    }
</script>

<style scoped>

</style>
