<template>
    <card title="Потоки" body-class="p-0 table-responsive" :loading="!loaded">
        <template slot="tools" v-if="loaded && leads.meta.last_page > 1">
            <pagination @changePage="changePage" :current="leads.meta.current_page" :total="leads.meta.total" :per-page="leads.meta.per_page"></pagination>
        </template>
        <table class="table table-striped table-sm">
            <thead>
            <tr>
                <th>id</th>
                <th>Клик</th>
                <th>Гео</th>
                <th>Статус</th>
                <th>Имя</th>
                <th>Телефон</th>
                <th>ip</th>
                <th>cpa_id</th>
                <th>CPA Гео</th>
                <th>referer</th>
                <th>user_agent</th>
                <th>Создан</th>
                <th>Изменён</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="lead in leads.data">
                <td>{{ lead.id }}</td>
                <td>{{ lead.click_id }}</td>
                <td><flag size="16" :code="lead.geo.iso_2" :name="lead.geo.name_ru"></flag> {{ lead.geo.iso_2 }}</td>
                <td>
                    <span class="badge bg-warning" v-if="lead.status === 1">{{ statuses[lead.status] }}</span>
                    <span class="badge bg-success" v-if="lead.status === 2">{{ statuses[lead.status] }}</span>
                    <span class="badge bg-maroon" v-if="lead.status === 3">{{ statuses[lead.status] }}</span>
                    <span class="badge bg-danger" v-if="lead.status === 4">{{ statuses[lead.status] }}</span>
                </td>
                <td>{{ lead.name }}</td>
                <td>{{ lead.phone }}</td>
                <td>{{ lead.ip }}</td>
                <td>{{ lead.cpa_id }}</td>
                <td><flag size="16" :code="lead.cpa_geo.iso_2" :name="lead.cpa_geo.name_ru"></flag> {{ lead.cpa_geo.iso_2 }}</td>
                <td>{{ lead.referer }}</td>
                <td>{{ lead.user_agent }}</td>
                <td>{{ lead.created_at }}</td>
                <td>{{ lead.updated_at }}</td>
            </tr>
            </tbody>
        </table>
        <template slot="footer" v-if="loaded && leads.meta.last_page > 1">
            <pagination @changePage="changePage" :current="leads.meta.current_page" :total="leads.meta.total" :per-page="leads.meta.per_page"></pagination>
        </template>
    </card>
</template>

<script>
    import Card from '../Card';
    import Pagination from '../Pagination';
    import {apiIndex} from '../../api';
    import Swal from 'sweetalert2';
    import Flag from '../Flag';

    export default {
        components: {
            Pagination,
            Card,
            Flag
        },
        data(){
            return {
                loaded: false,
                leads:{},
                statuses:{
                    '1':'Новый',
                    '2':'Подтверждён',
                    '3':'Откланён',
                    '4':'Трэш',
                },
            }
        },
        methods: {
            changePage(page){
                this.loaded = false;
                apiIndex('lead', page)
                    .then(response => {
                        this.leads = response.data;
                        this.loaded = true;
                        this.$router.push({ name: 'lead_page', params: { num: page } });
                    })
                    .catch(error => {
                        Swal.fire({
                            toast: true,
                            position: 'top-end',
                            showConfirmButton: false,
                            timer: 3000,
                            title: 'Ошибка!',
                            text: error.response.data.message,
                            icon: 'error',
                        });
                    });
            },
        },
        mounted() {

            let page = this.$route.params.num ? this.$route.params.num : 1;

            apiIndex('lead', page)
                .then(response => {
                    this.leads = response.data;
                    this.loaded = true;
                })
                .catch(error => {
                    Swal.fire({
                        toast: true,
                        position: 'top-end',
                        showConfirmButton: false,
                        timer: 3000,
                        title: 'Ошибка!',
                        text: error.response.data.message,
                        icon: 'error',
                    });
                });
        }
    }
</script>

<style scoped>

</style>
