<template>
    <card title="Потоки" body-class="p-0 table-responsive" :loading="!loaded">
        <template slot="tools" v-if="loaded && clicks.meta.last_page > 1">
            <pagination @changePage="changePage" :current="clicks.meta.current_page" :total="clicks.meta.total" :per-page="clicks.meta.per_page"></pagination>
        </template>
        <table class="table table-striped table-sm">
            <thead>
            <tr>
                <th>id</th>
                <th>Поток</th>
                <th>Трекер</th>
                <th>Гео</th>
                <th>ip</th>
                <th>referer</th>
                <th>Создан</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="click in clicks.data">
                <td>{{ click.id }}</td>
                <td>{{ click.stream_id }}</td>
                <td>{{ click.tracker_id }}</td>
                <td><flag size="16" :code="click.geo.iso_2" :name="click.geo.name_ru"></flag> {{ click.geo.iso_2 }}</td>
                <td>{{ click.ip }}</td>
                <td>{{ click.referer }}</td>
                <td>{{ click.created_at }}</td>
            </tr>
            </tbody>
        </table>
        <template slot="footer" v-if="loaded && clicks.meta.last_page > 1">
            <pagination @changePage="changePage" :current="clicks.meta.current_page" :total="clicks.meta.total" :per-page="clicks.meta.per_page"></pagination>
        </template>
    </card>
</template>

<script>
    import Swal from 'sweetalert2';
    import Card from '../Card';
    import Pagination from '../Pagination';
    import {apiIndex} from '../../api';
    import Flag from '../Flag';

    export default {
        components: {
            Pagination,
            Card,
            Flag
        },
        data(){
            return {
                loaded: false,
                clicks:{},
            }
        },
        methods: {
            changePage(page){
                this.loaded = false;
                apiIndex('click', page)
                    .then(response => {
                        this.clicks = response.data;
                        this.loaded = true;
                        this.$router.push({ name: 'click_page', params: { num: page } });
                    })
                    .catch(error => {
                        Swal.fire({
                            toast: true,
                            position: 'top-end',
                            showConfirmButton: false,
                            timer: 3000,
                            title: 'Ошибка!',
                            text: error.response.data.message,
                            icon: 'error',
                        });
                    });
            },
        },
        mounted() {
            let page = this.$route.params.num ? this.$route.params.num : 1;

            apiIndex('click', page)
                .then(response => {
                    this.clicks = response.data;
                    this.loaded = true;
                })
                .catch(error => {
                    Swal.fire({
                        toast: true,
                        position: 'top-end',
                        showConfirmButton: false,
                        timer: 3000,
                        title: 'Ошибка!',
                        text: error.response.data.message,
                        icon: 'error',
                    });
                });
        }
    }
</script>

<style scoped>

</style>
