<template>
    <card :title="`Изменить гео ${resource.name_ru }`" :loading="!loaded">
        <div class="form-group">
            <label for="name_ru">Название на русском</label>
            <input name="name_ru" type="text" class="form-control" id="name_ru" placeholder="Название на русском" v-model="resource.name_ru">
        </div>

        <div class="form-group">
            <label for="name_en">Название на английском</label>
            <input name="name_en" type="text" class="form-control" id="name_en" placeholder="Название на английском" v-model="resource.name_en">
        </div>

        <div class="form-group">
            <label for="iso_2">iso_2</label>
            <input name="iso_2" type="text" class="form-control" id="iso_2" placeholder="iso_2" v-model="resource.iso_2">
        </div>

        <div class="form-group">
            <label for="iso_3">iso_3</label>
            <input name="iso_3" type="text" class="form-control" id="iso_3" placeholder="iso_3" v-model="resource.iso_3">
        </div>

        <div class="form-group">
            <label for="iso_num">iso_num</label>
            <input name="iso_num" type="text" class="form-control" id="iso_num" placeholder="iso_num" v-model="resource.iso_num">
        </div>
        <template slot="footer">
            <button class="btn btn-primary btn-xs" @click.prevent="update">Изменить</button>
            <a class="btn btn-danger btn-xs" href="#" @click.prevent="destroy(resource.id)">Удалить</a>
        </template>
    </card>
</template>

<script>
    import Card from '../Card';
    import Swal from 'sweetalert2';
    import {apiDestroy, apiShow, apiUpdate} from '../../api';

    export default {
        components: {
            Card
        },
        data() {
            return {
                loaded: false,
                resource: {
                    name_ru: '',
                    name_en: '',
                    iso_2: '',
                    iso_3: '',
                    iso_num: '',
                },
            }
        },
        methods: {
            update(){
                this.loaded = false;
                apiUpdate('geo', this.$route.params.id, this.resource)
                    .then(response => {
                        this.resource = response.data.data;
                        this.loaded = true;
                    })
                    .catch(error => {
                        Swal.fire({
                            toast: true,
                            position: 'top-end',
                            showConfirmButton: false,
                            timer: 3000,
                            title: 'Error!',
                            text: error,
                            icon: 'error',
                        });
                    });
            },
            destroy(id){
                apiDestroy('geo', id)
                    .then(response => {
                        Swal.fire({
                            toast: true,
                            position: 'top-end',
                            showConfirmButton: false,
                            timer: 3000,
                            title: `${this.resource.name_ru} id:${this.resource.id}`,
                            text: 'успешно удаленно!',
                            icon: 'success',
                        });

                        this.$router.push({ name: 'geo' });
                    })
                    .catch(error => {
                        console.log(error.response);
                        Swal.fire({
                            toast: true,
                            position: 'top-end',
                            showConfirmButton: false,
                            timer: 3000,
                            title: 'Ошибка!',
                            text: error.response.data.message,
                            icon: 'error',
                        });
                    });
            }
        },
        mounted() {
            apiShow('geo', this.$route.params.id)
            .then(response => {
                this.resource = response.data;
                this.loaded = true;
            })
            .catch(error => {
                Swal.fire({
                    toast: true,
                    position: 'top-end',
                    showConfirmButton: false,
                    timer: 3000,
                    title: 'Error!',
                    text: error,
                    icon: 'error',
                });
            });
        },
    }
</script>

<style scoped>

</style>
