<template>
    <card title="Потоки" body-class="p-0" :loading="!loaded">
        <template slot="tools" v-if="loaded && currencies.meta.last_page > 1">
            <pagination @changePage="changePage" :current="currencies.meta.current_page" :total="currencies.meta.total" :per-page="currencies.meta.per_page"></pagination>
        </template>
        <table class="table table-striped table-sm">
            <thead>
            <tr>
                <th>id</th>
                <th>Название (en)</th>
                <th>Название (ru)</th>
                <th>Сокращение (en)</th>
                <th>Сокращение (ru)</th>
                <th>Код</th>
                <th>Курс</th>
                <th>Создан</th>
                <th>Изменён</th>
                <th>Управление</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="currency in currencies.data">
                <td>{{ currency.id }}</td>
                <td>{{ currency.name_en }}</td>
                <td>{{ currency.name_ru }}</td>
                <td>{{ currency.abbreviation_en }}</td>
                <td>{{ currency.abbreviation_ru }}</td>
                <td>{{ currency.code }}</td>
                <td>{{ parseFloat(currency.rate) }}</td>
                <td>{{ currency.created_at }}</td>
                <td>{{ currency.updated_at }}</td>
                <td>
                    <div class="btn-group">
                        <router-link :to="{name: 'currency_edit', params:{id:currency.id}}" class="btn btn-default btn-xs"><i class="fas fa-edit"></i></router-link>
                        <a class="btn btn-default btn-xs" href="#" @click.prevent="destroy(currency.id)"><i class="fas fa-trash"></i></a>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <template slot="footer" v-if="loaded && currencies.meta.last_page > 1">
            <pagination @changePage="changePage" :current="currencies.meta.current_page" :total="currencies.meta.total" :per-page="currencies.meta.per_page"></pagination>
        </template>
    </card>
</template>

<script>
    import Swal from 'sweetalert2';
    import Card from '../Card';
    import Pagination from '../Pagination';
    import {apiDestroy, apiIndex} from '../../api';

    export default {
        components: {
            Pagination,
            Card
        },
        data(){
            return {
                loaded: false,
                currencies:{},
            }
        },
        methods: {
            changePage(page){
                this.loaded = false;
                apiIndex('currency', page)
                    .then(response => {
                        this.currencies = response.data;
                        this.loaded = true;
                        this.$router.push({ name: 'currency_page', params: { num: page } });
                    })
                    .catch(error => {
                        Swal.fire({
                            toast: true,
                            position: 'top-end',
                            showConfirmButton: false,
                            timer: 3000,
                            title: 'Ошибка!',
                            text: error.response.data.message,
                            icon: 'error',
                        });
                    });
            },
            destroy(id){
                apiDestroy('currency', id)
                    .then(response => {
                        this.currencies.data.forEach((item, index) => {
                            if(item.id === id){
                                Swal.fire({
                                    toast: true,
                                    position: 'top-end',
                                    showConfirmButton: false,
                                    timer: 3000,
                                    title: `${item.name_ru} id:${id}`,
                                    text: `успешно удаленно`,
                                    icon: 'success',
                                });

                                this.$delete(this.currencies.data, index)
                            }
                        });
                        this.currencies.meta.total -= 1;
                    })
                    .catch(error => {
                        Swal.fire({
                            toast: true,
                            position: 'top-end',
                            showConfirmButton: false,
                            timer: 3000,
                            title: 'Ошибка!',
                            text: error.response.data.message,
                            icon: 'error',
                        });
                    });
            },
        },
        mounted() {
            let page = this.$route.params.num ? this.$route.params.num : 1;

            apiIndex('currency', page)
                .then(response => {
                    this.currencies = response.data;
                    this.loaded = true;
                })
                .catch(error => {
                    Swal.fire({
                        toast: true,
                        position: 'top-end',
                        showConfirmButton: false,
                        timer: 3000,
                        title: 'Ошибка!',
                        text: error.response.data.message,
                        icon: 'error',
                    });
                });
        }
    }
</script>

<style scoped>

</style>
