<template>
    <router-view></router-view>
</template>

<script>
    import {mapActions} from 'vuex';

    export default {
        methods: {
            ...mapActions(['setPageTitle', 'setBreadcrumbs']),
        },
        beforeMount() {
            this.setPageTitle('Валюта');
            this.setBreadcrumbs([{
                name: 'Валюта',
                active: true,
                route: {}
            }]);
        },
    }
</script>

<style scoped>

</style>
