@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';

@import '~ag-grid-community/src/styles/ag-grid';
@import '~ag-grid-community/src/styles/ag-theme-balham/sass/ag-theme-balham';

@import "~vue-select/src/scss/vue-select.scss";

@import "~bootstrap/scss/bootstrap";
@import "~admin-lte/build/scss/AdminLTE-raw";

.transparent-input:active,
.transparent-input:focus,
.transparent-input:hover,
.transparent-input{
    background: transparent !important;
    border: none !important;
    width: 100%;
    outline: none !important;
}


.fade-enter-active, .fade-leave-active {
    transition: opacity .2s ease;
}
.fade-enter, .fade-leave-active {
    opacity: 0;
}
.child-view {
    position: absolute;
    transition: all .2s cubic-bezier(.55,0,.1,1);
}
.slide-left-enter, .slide-right-leave-active {
    opacity: 0;
    -webkit-transform: translate(30px, 0);
    transform: translate(30px, 0);
}
.slide-left-leave-active, .slide-right-enter {
    opacity: 0;
    -webkit-transform: translate(-30px, 0);
    transform: translate(-30px, 0);
}
