<template>
    <card :title="title" :loading="!loaded">
        <div class="row" v-if="loaded">
            <div class="col-md-6">
                <h5 class="mt-4 mb-2">Основное</h5>
                <div class="form-group">
                    <label for="advertiser_id">Рекламодатель</label>
                    <select class="form-control" v-model="resource.advertiser_id" id="advertiser_id">
                        <option value="2">Lucky Online</option>
                        <option value="3">LeadVertex</option>
                        <option value="4">Everad</option>
                    </select>
                </div>
                <template v-if="resource.advertiser_id === '2'">
                    <div class="form-group">
                        <label for="campaignHash">campaignHash</label>
                        <input v-model="resource.params.campaignHash" type="text" class="form-control" id="campaignHash" placeholder="campaignHash">
                    </div>
                </template>
                <template v-if="resource.advertiser_id === '3'">
                    <div class="form-group">
                        <label for="goodID">goodID</label>
                        <input v-model="resource.params.goodID" type="text" class="form-control" id="goodID" placeholder="goodID">
                    </div>
                    <div class="form-group">
                        <label for="quantity">quantity</label>
                        <input v-model="resource.params.quantity" type="text" class="form-control" id="quantity" placeholder="quantity">
                    </div>
                    <div class="form-group">
                        <label for="price">price</label>
                        <input v-model="resource.params.price" type="text" class="form-control" id="price" placeholder="price">
                    </div>
                </template>
                <template v-if="resource.advertiser_id === '4'">
                    <div class="form-group">
                        <label for="campaign_id">campaign_id</label>
                        <input v-model="resource.params.campaign_id" type="text" class="form-control" id="campaign_id" placeholder="campaign_id">
                    </div>
                </template>
                <div class="form-group">
                    <label for="status">Статус</label>
                    <select v-model="resource.status" class="form-control" id="status">
                        <option value="1">Активный</option>
                        <option value="0">Неактивный</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="name">Название</label>
                    <input v-model="resource.name" type="text" class="form-control" id="name" placeholder="Название">
                </div>
                <div class="form-group">
                    <label for="customFile">Изображение</label>
                    <div class="image-preview" v-if="resource.imageBase64">
                        <div class="img-thumbnail" :style="`background-image: url(${resource.imageBase64});`"></div>
                    </div>

                    <div class="custom-file">
                        <input class="form-control custom-file-input" ref="file" accept="image/jpeg,image/png,image/gif" type="file" id="customFile" name="image" v-on:change="handleFileUpload">
                        <label class="custom-file-label">Выбрать фаил</label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="description">Описание</label>
                    <textarea v-model="resource.description" id="description" class="form-control" placeholder="Описание"></textarea>
                </div>
            </div>
            <div class="col-md-6">

                <h5 class="mt-4 mb-2">Выплата рекламодателя</h5>

                <template v-for="(tariffCpa, index) in resource.cpa_tariffs">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-4">
                                <v-select v-model="tariffCpa.geo_id" :options="geo" :reduce="geo => geo.id" label="name_ru"/>
                            </div>
                            <div class="col-md-4">
                                <v-select v-model="tariffCpa.currency_id" :options="currency" :reduce="currency => currency.id" label="code"/>
                            </div>
                            <div class="col-md-3">
                                <input v-model="tariffCpa.rate" type="text" class="form-control">
                            </div>
                            <div class="col-md-1">
                                <button class="btn btn-danger" @click.prevent="removeTariffCpa(index)"><i class="fas fa-trash"></i></button>
                            </div>
                        </div>
                    </div>
                </template>

                <button class="btn btn-primary btn-xs" @click.prevent="addTariffCpa"><i class="fas fa-plus-circle"></i> Добавить</button>


                <h5 class="mt-4 mb-2">Выплата базовая</h5>

                <template v-for="(tariff, index) in resource.tariffs">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-4">
                                <v-select v-model="tariff.geo_id" :options="geo" :reduce="geo => geo.id" label="name_ru"/>
                            </div>
                            <div class="col-md-4">
                                <v-select v-model="tariff.currency_id" :options="currency" :reduce="currency => currency.id" label="code"/>
                            </div>
                            <div class="col-md-3">
                                <input v-model="tariff.rate" type="text" class="form-control">
                            </div>
                            <div class="col-md-1">
                                <button class="btn btn-danger" @click.prevent="removeTariff(index)"><i class="fas fa-trash"></i></button>
                            </div>
                        </div>
                    </div>
                </template>

                <button class="btn btn-primary btn-xs" @click.prevent="addTariff"><i class="fas fa-plus-circle"></i> Добавить</button>

                <!--<div>
                    <h5 class="mt-4 mb-2">Тарифы пользователей</h5>

                    <template v-for="tariffUser in resource.tariffUser">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-3">
                                    <v-select v-model="tariffUser.user_id" :options="users.data" :reduce="user => user.id" label="email"/>
                                </div>
                                <div class="col-md-3">
                                    <v-select v-model="tariffUser.geo_id" :options="geo.data" :reduce="geo => geo.id" label="name_ru"/>
                                </div>
                                <div class="col-md-3">
                                    <v-select v-model="tariffUser.currency_id" :options="currency.data" :reduce="currency => currency.id" label="code"/>
                                </div>
                                <div class="col-md-3">
                                    <input v-model="tariffUser.rate" type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                    </template>

                    <button class="btn btn-primary btn-xs" @click.prevent="addTariffUser">Добавить</button>
                </div>-->

            </div>
        </div>

        <template slot="footer">
            <button class="btn btn-primary btn-xs" @click.prevent="update"><i class="fas fa-plus-circle"></i> Изменить</button>
        </template>
    </card>
</template>

<script>
    import Card from '../Card';
    import Swal from 'sweetalert2';
    import {apiAll, apiShow, apiUpdate} from '../../api';
    import vSelect from 'vue-select';

    export default {
        components: {
            Card,
            vSelect,
        },
        data() {
            return {
                loaded: false,
                title: 'Редактировать оффер: ',
                resource: null,
                geo: [],
                currency: [],
                users: [],
            }
        },
        methods: {
            addTariff() {
                this.resource.tariffs.push({
                    currency_id: null,
                    geo_id: null,
                    rate: null,
                });
            },
            removeTariff(index) {
                this.$delete(this.resource.tariffs, index);
            },
            removeTariffCpa(index) {
                this.$delete(this.resource.cpa_tariffs, index);
            },
            addTariffCpa() {
                this.resource.cpa_tariffs.push({
                    currency_id: null,
                    geo_id: null,
                    rate: null,
                });
            },
            addTariffUser() {
                this.resource.user_tariffs.push({
                    currency_id: null,
                    geo_id: null,
                    user_id: null,
                    rate: null,
                });
            },
            handleFileUpload(){
                let reader = new FileReader();
                reader.readAsDataURL(this.$refs.file.files[0]);
                reader.onload = () => {
                    this.resource.imageBase64 = reader.result;
                };
                reader.onerror = function (error) {
                    console.log('Error: ', error);
                };
            },
            update() {
                apiUpdate('offer', this.$route.params.id, this.resource)
                    .then(response => {
                        this.$router.push({name: 'offer'});
                    })
                    .catch(error => {
                        Swal.fire({
                            toast: true,
                            position: 'top-end',
                            showConfirmButton: false,
                            timer: 3000,
                            title: error.response.status,
                            text: error.response.data.message,
                            icon: 'error',
                        });
                    });
            },
        },
        mounted() {
            apiShow('offer', this.$route.params.id)
                .then(response => {
                    this.resource = response.data;
                    this.title += response.data.name;
                    this.loaded = true;
                })
                .catch(error => {
                    Swal.fire({
                        toast: true,
                        position: 'top-end',
                        showConfirmButton: false,
                        timer: 3000,
                        title: 'Error!',
                        text: error,
                        icon: 'error',
                    });
                });

            apiAll('geo')
                .then(response => {
                    this.geo = response.data;
                })
                .catch(error => {
                    Swal.fire({
                        toast: true,
                        position: 'top-end',
                        showConfirmButton: false,
                        timer: 3000,
                        title: 'Ошибка!',
                        text: error.response.data.message,
                        icon: 'error',
                    });
                });

            apiAll('currency')
                .then(response => {
                    this.currency = response.data;
                })
                .catch(error => {
                    Swal.fire({
                        toast: true,
                        position: 'top-end',
                        showConfirmButton: false,
                        timer: 3000,
                        title: 'Ошибка!',
                        text: error.response.data.message,
                        icon: 'error',
                    });
                });

            apiAll('user')
                .then(response => {
                    this.users = response.data;
                })
                .catch(error => {
                    Swal.fire({
                        toast: true,
                        position: 'top-end',
                        showConfirmButton: false,
                        timer: 3000,
                        title: 'Ошибка!',
                        text: error.response.data.message,
                        icon: 'error',
                    });
                });
        }
    }
</script>

<style scoped>
    .image-preview div{
        width: 150px;
        height: 150px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        margin-bottom: 15px;
    }

</style>
