<template>
    <card title="Потоки" body-class="p-0" :loading="!loaded">
        <template slot="tools" v-if="loaded && offers.meta.last_page > 1">
            <pagination @changePage="changePage" :current="offers.meta.current_page" :total="offers.meta.total" :per-page="offers.meta.per_page"></pagination>
        </template>
        <table class="table table-striped table-sm">
            <thead>
            <tr>
                <th>id</th>
                <th>Рекламодатель</th>
                <!--<th>Статус</th>-->
                <th>Оффер</th>
                <th>Описание</th>
                <th>Выплата рекламодателя</th>
                <th>Выплата базовая</th>
                <th>Создан</th>
                <th>Изменён</th>
                <th>Управление</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="offer in offers.data">
                <td>{{ offer.id }}</td>
                <td>{{ offer.advertiser.name }}</td>
                <!--<td>{{ offer.status }}</td>-->
                <td>
                    <img class="img-thumbnail" width="150" :src="`/storage/offers/${offer.image}`" :alt="offer.name" :title="offer.description">
                    {{ offer.name }}
                </td>
                <td>{{ offer.description }}</td>

                <td>
                    <table>
                        <tbody>
                        <tr v-for="tariff in offer.tariffs">
                            <td width="100px">
                                <flag size="16" :code="tariff.geo.iso_2" :name="tariff.geo.name_ru"></flag> {{ tariff.geo.iso_2 }}
                            </td>
                            <td width="200px">{{ tariff.rate}} {{ tariff.currency.abbreviation_ru }}</td>
                        </tr>
                        </tbody>
                    </table>
                </td>
                <td>
                    <table>
                        <tbody>
                        <tr v-for="cpa_tariff in offer.cpa_tariffs">
                            <td width="100px">
                                <flag size="16" :code="cpa_tariff.geo.iso_2" :name="cpa_tariff.geo.name_ru"></flag> {{ cpa_tariff.geo.iso_2 }}
                            </td>
                            <td width="200px">{{ cpa_tariff.rate}} {{ cpa_tariff.currency.abbreviation_ru }}</td>
                        </tr>
                        </tbody>
                    </table>
                </td>

                <td>{{ offer.created_at }}</td>
                <td>{{ offer.updated_at }}</td>
                <td width="200px">
                    <div class="btn-group">
                        <router-link :to="{name: 'offer_show', params:{id:offer.id}}" class="btn btn-default btn-xs" title="Просмотр"><i class="fas fa-eye"></i></router-link>
                        <router-link :to="{name: 'offer_edit', params:{id:offer.id}}" class="btn btn-default btn-xs" title="Редактирование"><i class="fas fa-edit"></i></router-link>
                        <button v-if="checkRole('admin')" class="btn btn-default btn-xs" @click.prevent="destroy(offer.id)" title="Удалить"><i class="fas fa-trash"></i></button>
                        <button type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target="#modal-default" @click="selectOffer(offer.id)">создать поток</button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <template slot="footer">
            <router-link class="btn btn-primary btn-xs" :to="{ name: 'offer_add'}"><i class="fas fa-plus-circle"></i> Добавить оофер</router-link>
            <pagination v-if="loaded && offers.meta.last_page > 1" @changePage="changePage" :current="offers.meta.current_page" :total="offers.meta.total" :per-page="offers.meta.per_page"></pagination>
        </template>
        <div class="modal fade" id="modal-default" style="display: none;" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Создать поток</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="stream-name" class="col-form-label">Название потока:</label>
                            <input type="text" class="form-control" id="stream-name" v-model="streamName">
                        </div>
                    </div>
                    <div class="modal-footer justify-content-between">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                        <button type="button" class="btn btn-primary" @click.prevent="createStream">Создать поток</button>
                    </div>
                </div>
            </div>
        </div>

    </card>
</template>

<script>
    import Card from '../Card';
    import Pagination from '../Pagination';
    import {apiDestroy, apiIndex, apiStore} from '../../api';
    import Swal from 'sweetalert2';
    import Flag from "../Flag";
    import {mapActions, mapGetters} from "vuex";

    export default {
        components: {
            Flag,
            Pagination,
            Card
        },
        computed:{
            ...mapGetters(['checkRole']),
        },
        data() {
            return {
                loaded: false,
                selectedOffer: null,
                streamName: null,
                offers: {},
            }
        },
        methods: {
            ...mapActions(['setPageTitle', 'setBreadcrumbs']),
            changePage(page) {
                this.loaded = false;
                apiIndex('offer', page)
                    .then(response => {
                        this.offers = response.data;
                        this.loaded = true;
                        this.$router.push({name: 'offer_page', params: {num: page}});
                    })
                    .catch(error => {
                        Swal.fire({
                            toast: true,
                            position: 'top-end',
                            showConfirmButton: false,
                            timer: 3000,
                            title: error.response.status,
                            text: error.response.data.message,
                            icon: 'error',
                        });
                    });
            },
            destroy(id) {
                apiDestroy('offer', id)
                    .then(response => {
                        this.offers.data.forEach((item, index) => {
                            if (item.id === id) {
                                Swal.fire({
                                    toast: true,
                                    position: 'top-end',
                                    showConfirmButton: false,
                                    timer: 3000,
                                    title: `${item.name} id:${id}`,
                                    text: `успешно удаленно`,
                                    icon: 'success',
                                });

                                this.$delete(this.offers.data, index)
                            }
                        });
                        this.offers.meta.total -= 1;
                    })
                    .catch(error => {
                        Swal.fire({
                            toast: true,
                            position: 'top-end',
                            showConfirmButton: false,
                            timer: 3000,
                            title: error.response.status,
                            text: error.response.data.message,
                            icon: 'error',
                        });
                    });
            },
            createStream(offerId) {

                apiStore('stream', {offer_id: this.selectedOffer, name:this.streamName})
                    .then(response => {
                        $('#modal-default').modal('hide');
                        this.$router.push({name: 'stream'});
                    })
                    .catch(error => {
                        Swal.fire({
                            toast: true,
                            position: 'top-end',
                            showConfirmButton: false,
                            timer: 3000,
                            title: 'Ошибка!',
                            text: error.response.data.message,
                            icon: 'error',
                        });
                    });


            },
            selectOffer(offerId) {
                this.selectedOffer = offerId;
            }
        },
        beforeMount() {

            let page = this.$route.params.num ? this.$route.params.num : 1;

            apiIndex('offer', page)
                .then(response => {
                    this.offers = response.data;
                    this.loaded = true;

                    this.setBreadcrumbs([
                        {
                            name: 'Офферы',
                            active: true,
                        }
                    ]);

                    this.setPageTitle('Офферы');

                })
                .catch(error => {
                    Swal.fire({
                        toast: true,
                        position: 'top-end',
                        showConfirmButton: false,
                        timer: 3000,
                        title: 'Ошибка!',
                        text: error.response.data.message,
                        icon: 'error',
                    });
                });
        }
    }
</script>

<style scoped>

</style>
