<template>
    <div class="row">
        <div class="col-12 mb-2">
            <router-link :to="{name: 'offer_edit', params:{id:$route.params.id}}" class="btn btn-primary btn-xs" title="Редактирование"><i class="fas fa-edit"></i> Редактировать</router-link>
        </div>
        <div class="col-6">
            <card :title="title" :loading="!loaded" body-class="p-0">
                <table class="table table-sm table-striped border-0" v-if="loaded">
                    <tbody>
                    <tr>
                        <th>ID:</th>
                        <td>{{ resource.id }}</td>
                    </tr>
                    <tr>
                        <th>Название:</th>
                        <td>{{ resource.name }}</td>
                    </tr>
                    <tr>
                        <th>Рекламодатель:</th>
                        <td>{{ resource.advertiser.name }}</td>
                    </tr>
                    <tr v-if="resource.image">
                        <th>Изображение:</th>
                        <td>
                            <img class="img-thumbnail" width="150" :src="`/storage/offers/${resource.image}`"
                                 :alt="resource.name" :title="resource.description">
                        </td>
                    </tr>
                    <tr>
                        <th>Описание:</th>
                        <td>{{ resource.description }}</td>
                    </tr>
                    <tr>
                        <th>Создан:</th>
                        <td>{{ resource.created_at }}</td>
                    </tr>
                    <tr>
                        <th>Изменён:</th>
                        <td>{{ resource.updated_at }}</td>
                    </tr>
                    </tbody>
                </table>
            </card>
        </div>
        <div class="col-6">
            <card title="Тарифы" :loading="!loaded" body-class="p-0">
                <table class="table table-striped table-sm" v-if="loaded">
                    <thead>
                    <tr>
                        <th colspan="2">Выплата базовая</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="tariff in resource.tariffs">
                        <td width="100px">
                            <flag size="16" :code="tariff.geo.iso_2" :name="tariff.geo.name_ru"></flag>
                            {{ tariff.geo.iso_2 }}
                        </td>
                        <td width="150px">{{ tariff.rate}} {{ tariff.currency.abbreviation_ru }}</td>
                    </tr>
                    </tbody>
                </table>
                <table class="table table-striped table-sm" v-if="loaded">
                    <thead>
                    <tr>
                        <th colspan="2">Выплата рекламодателя</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="cpa_tariff in resource.cpa_tariffs">
                        <td width="100px">
                            <flag size="16" :code="cpa_tariff.geo.iso_2" :name="cpa_tariff.geo.name_ru"></flag>
                            {{ cpa_tariff.geo.iso_2 }}
                        </td>
                        <td width="150px">{{ cpa_tariff.rate}} {{ cpa_tariff.currency.abbreviation_ru }}</td>
                    </tr>
                    </tbody>
                </table>
            </card>
        </div>
        <div class="col-12">
            <card title="Потоки" :loading="!loaded" body-class="p-0">
                <table class="table table-striped table-sm" v-if="loaded">
                    <tbody>
                    <tr>
                        <th>ID</th>
                        <th>Название</th>
                        <th>Пользователь</th>
                        <th>Статус</th>
                        <th>Создан</th>
                    </tr>
                    <tr v-for="stream in resource.streams">
                        <td>{{ stream.id }}</td>
                        <td>{{ stream.name }}</td>
                        <td><router-link :to="{name: 'user_show', params:{id:stream.user.id}}">{{ stream.user.name }} <small>({{ stream.user.email }})</small></router-link></td>
                        <td>{{ stream.status }}</td>
                        <td>{{ stream.created_at }}</td>
                    </tr>
                    </tbody>
                </table>
            </card>
        </div>
        <div class="col-6">
            <card title="Лиды" body-class="p-0" :loading="!leadsDataCollection">
                <div v-if="leadsDataCollection">
                    <line-chart :chart-data="leadsDataCollection" :height="200"></line-chart>
                </div>
            </card>
        </div>
        <div class="col-6">
            <card title="Клики" body-class="p-0">
                Клики
            </card>
        </div>
    </div>
</template>

<script>
    import Swal from 'sweetalert2';
    import Card from '../Card';
    import Flag from '../Flag';
    import {apiIndex, apiShow} from '../../api';
    import {mapActions} from 'vuex';
    import LineChart from '../LineChart';

    export default {
        components: {
            Card,
            Flag,
            LineChart
        },
        data() {
            return {
                loaded: false,
                title: '',
                resource: null,
                leadsDataCollection:null
            }
        },
        methods: {
            ...mapActions(['setPageTitle', 'setBreadcrumbs']),
        },
        beforeMount() {
            apiShow('offer', this.$route.params.id)
                .then(response => {
                    this.resource = response.data;
                    this.title = response.data.name;
                    this.loaded = true;

                    this.setBreadcrumbs([
                        {
                            name: 'Офферы',
                            active: false,
                            router: {name:'offer'}
                        },
                        {
                            name: response.data.name,
                            active: true,
                        }
                    ]);

                    this.setPageTitle(`Просмотр оффера: ${response.data.name}`);

                })
                .catch(error => {
                    Swal.fire({
                        toast: true,
                        position: 'top-end',
                        showConfirmButton: false,
                        timer: 3000,
                        title: 'Ошибка!',
                        text: error.response.data.message,
                        icon: 'error',
                    });
                });
        },
        mounted() {
            apiIndex(`offer/lead-stat/${this.$route.params.id}`).then(response => {
                this.leadsDataCollection = response.data;
            }).catch(error => {
                console.log(error);
            })
        }
    }
</script>

<style scoped>

</style>
