<template>
    <card title="Потоки" body-class="p-0" :loading="!loaded">
        <template slot="tools" v-if="loaded && logs.meta.last_page > 1">
            <pagination @changePage="changePage" :current="logs.meta.current_page" :total="logs.meta.total" :per-page="logs.meta.per_page"></pagination>
        </template>
        <table class="table table-striped table-sm">
            <thead>
            <tr>
                <th> </th>
                <th>Дата</th>
                <th>Описание</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="log in logs.data">
                <th>
                    <i v-if="log.action === 1" class="fas fa-angle-double-down"></i>
                    <i v-else class="fas fa-angle-double-up"></i>
                </th>
                <th>{{ log.created_at }}</th>
                <th>{{ log.description}}</th>
            </tr>
            </tbody>
        </table>
        <template slot="footer" v-if="loaded && logs.meta.last_page > 1">
            <pagination @changePage="changePage" :current="logs.meta.current_page" :total="logs.meta.total" :per-page="logs.meta.per_page"></pagination>
        </template>
    </card>
</template>

<script>
    import Card from '../Card';
    import Pagination from '../Pagination';
    import {apiIndex} from '../../api';
    import Swal from 'sweetalert2';

    export default {
        components: {
            Pagination,
            Card
        },
        data(){
            return {
                loaded: false,
                logs:{},
            }
        },
        methods: {
            changePage(page){
                this.loaded = false;
                apiIndex('balance-log', page)
                    .then(response => {
                        this.logs = response.data;
                        this.loaded = true;
                        this.$router.push({ name: 'finance_page', params: { num: page } });
                    })
                    .catch(error => {
                        Swal.fire({
                            toast: true,
                            position: 'top-end',
                            showConfirmButton: false,
                            timer: 3000,
                            title: 'Ошибка!',
                            text: error.response.data.message,
                            icon: 'error',
                        });
                    });
            },
        },
        mounted() {

            let page = this.$route.params.num ? this.$route.params.num : 1;

            apiIndex('balance-log', page)
                .then(response => {
                    this.logs = response.data;
                    this.loaded = true;
                })
                .catch(error => {
                    Swal.fire({
                        toast: true,
                        position: 'top-end',
                        showConfirmButton: false,
                        timer: 3000,
                        title: 'Ошибка!',
                        text: error.response.data.message,
                        icon: 'error',
                    });
                });
        }
    }
</script>

<style scoped>

</style>
