<template>
    <card title="Потоки" body-class="p-0" :loading="!loaded">
        <template slot="tools" v-if="loaded && streams.meta.last_page > 1">
            <pagination @changePage="changePage" :current="streams.meta.current_page" :total="streams.meta.total" :per-page="streams.meta.per_page"></pagination>
        </template>
        <table class="table table-striped table-sm">
            <thead>
            <tr>
                <th>Название</th>
                <th>id</th>
                <th v-if="checkRole('admin')">Пользователь</th>
                <th>Оффер</th>
                <th>Статус</th>
                <th>Создан</th>
                <th>Управление</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="stream in streams.data">
                <td>{{ stream.name }}</td>
                <td>{{ stream.id }}</td>
                <td v-if="checkRole('admin')">
                    <router-link :to="{name: 'user_show', params:{id:stream.user.id}}">{{ stream.user.name }} <small>({{ stream.user.email }})</small></router-link>
                </td>
                <td>
                    <img class="img-thumbnail" width="50" :src="`/storage/offers/${stream.offer.image}`" :alt="stream.offer.name" :title="stream.offer.description">
                    <router-link :to="{name: 'offer_show', params:{id:stream.offer.id}}">{{ stream.offer.name }}</router-link>
                </td>
                <td>{{ stream.status }}</td>
                <td>{{ stream.created_at }}</td>
                <td>
                    <div class="btn-group">
                        <router-link :to="{name: 'stream_edit', params:{id:stream.id}}" class="btn btn-default btn-xs"><i class="fas fa-edit"></i></router-link>
                        <a class="btn btn-default btn-xs" href="#" @click.prevent="destroy(stream.id)"><i class="fas fa-trash"></i></a>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <template slot="footer" v-if="loaded && streams.meta.last_page > 1">
            <pagination @changePage="changePage" :current="streams.meta.current_page" :total="streams.meta.total" :per-page="streams.meta.per_page"></pagination>
        </template>
    </card>
</template>

<script>
    import Swal from 'sweetalert2';
    import {mapGetters} from 'vuex';
    import Card from '../Card';
    import Pagination from '../Pagination';
    import {apiDestroy, apiIndex} from '../../api';

    export default {
        components: {
            Pagination,
            Card
        },
        computed:{
            ...mapGetters(['checkRole']),
        },
        data(){
            return {
                loaded: false,
                streams:{},
            }
        },
        methods: {
            changePage(page){
                this.loaded = false;
                apiIndex('stream', page)
                    .then(response => {
                        this.streams = response.data;
                        this.loaded = true;
                        this.$router.push({ name: 'stream_page', params: { num: page } });
                    })
                    .catch(error => {
                        Swal.fire({
                            toast: true,
                            position: 'top-end',
                            showConfirmButton: false,
                            timer: 3000,
                            title: 'Ошибка!',
                            text: error.response.data.message,
                            icon: 'error',
                        });
                    });
            },
            destroy(id){
                apiDestroy('stream', id)
                    .then(response => {
                        this.streams.data.forEach((item, index) => {
                            if(item.id === id){
                                Swal.fire({
                                    toast: true,
                                    position: 'top-end',
                                    showConfirmButton: false,
                                    timer: 3000,
                                    title: `${item.name_ru} id:${id}`,
                                    text: `успешно удаленно`,
                                    icon: 'success',
                                });

                                this.$delete(this.streams.data, index)
                            }
                        });
                        this.streams.meta.total -= 1;
                    })
                    .catch(error => {
                        Swal.fire({
                            toast: true,
                            position: 'top-end',
                            showConfirmButton: false,
                            timer: 3000,
                            title: 'Ошибка!',
                            text: error.response.data.message,
                            icon: 'error',
                        });
                    });
            },
        },
        mounted() {
            let page = this.$route.params.num ? this.$route.params.num : 1;

            apiIndex('stream', page)
                .then(response => {
                    this.streams = response.data;
                    this.loaded = true;
                })
                .catch(error => {
                    Swal.fire({
                        toast: true,
                        position: 'top-end',
                        showConfirmButton: false,
                        timer: 3000,
                        title: 'Ошибка!',
                        text: error.response.data.message,
                        icon: 'error',
                    });
                });
        }
    }
</script>

<style scoped>

</style>
