<template>
    <div>
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <sidebar-toggle>
                        <a class="nav-link" data-widget="pushmenu" href="#"><i class="fas fa-bars"></i></a>
                    </sidebar-toggle>
                </li>
            </ul>
            <!-- SEARCH FORM -->
            <form class="form-inline ml-3">
                <div class="input-group input-group-sm">
                    <input class="form-control form-control-navbar" type="search" placeholder="Поиск" aria-label="Search">
                    <div class="input-group-append">
                        <button class="btn btn-navbar" type="submit">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>
            </form>
            <!--@include('admin.partials.navbar-right')-->
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Выход</a>
                </li>
            </ul>
        </nav>

        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <router-link class="brand-link" :to="{name:'dashboard'}">
                <img src="/assets/admin/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
                <span class="brand-text font-weight-light">hhoba</span>
            </router-link>

            <div class="sidebar">
                <user-panel></user-panel>
                <sidebar></sidebar>
            </div>
        </aside>

        <div class="content-wrapper">

            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0 text-dark">{{ getApp.pageTitle }}</h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><router-link :to="{name:'dashboard'}">Консоль</router-link></li>
                                <template v-for="breadcrumb in getApp.breadcrumbs">
                                    <li class="breadcrumb-item active" v-if="breadcrumb.active">{{ breadcrumb.name }}</li>
                                    <li class="breadcrumb-item" v-else><router-link :to="breadcrumb.router">{{ breadcrumb.name }}</router-link></li>
                                </template>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>

            <div class="content">
                <transition name="fade" mode="out-in">
                    <router-view></router-view>
                </transition>
            </div>
        </div>

        <aside class="control-sidebar control-sidebar-dark">
            <div class="p-3">
                <h5>Title</h5>
                <p>Sidebar content</p>
            </div>
        </aside>

        <footer class="main-footer">
            <div class="float-right d-none d-sm-inline">Anything you want</div>
            <strong>Copyright &copy; 2019 <a href="#">hhoba</a>.</strong> All rights reserved.
        </footer>
    </div>
</template>

<script>
    import {mapGetters} from 'vuex';
    import UserPanel from './UserPanel';
    import SidebarToggle from './SidebarToggle';
    import Sidebar from './Sidebar';

    export default {
        components: {
            UserPanel,
            SidebarToggle,
            Sidebar,
        },
        computed:{
            ...mapGetters(['getApp']),
        },
    }
</script>

<style scoped>

</style>
