<template>
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">{{ title }}</h3>
            <div class="card-tools" v-if="this.$slots.tools">
                <slot name="tools"></slot>
            </div>
        </div>
        <div class="card-body" :class="bodyClass">
            <slot></slot>
        </div>
        <div class="overlay" v-if="loading">
            <i class="fas fa-2x fa-sync-alt fa-spin"></i>
        </div>
        <div class="card-footer" v-if="this.$slots.footer">
            <slot name="footer"></slot>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['title', 'bodyClass', 'loading']
    }
</script>

<style scoped>

</style>
