<template>
    <div class="d-inline-block">
        <img :src="`/assets/admin/flags/${size}/${code}.png`" :alt="code" :title="name">
    </div>
</template>

<script>
    export default {
        props: ['size', 'code', 'name'],
    }
</script>

<style scoped>

</style>
