<template>
    <ul class="pagination pagination-sm float-right m-0">

        <li class="page-item" :class="current == 1 ? 'disabled': ''"><a class="page-link" href="#" @click.prevent="$emit('changePage', current-1)">«</a></li>

        <li class="page-item" v-if="current-3 > 0"><a class="page-link" @click.prevent="$emit('changePage', current-3)" href="#">{{ current-3 }}</a></li>
        <li class="page-item" v-if="current-2 > 0"><a class="page-link" @click.prevent="$emit('changePage', current-21)" href="#">{{ current-2 }}</a></li>
        <li class="page-item" v-if="current-1 > 0"><a class="page-link" @click.prevent="$emit('changePage', current-1)" href="#">{{ current-1 }}</a></li>

        <li class="page-item active"><span class="page-link">{{ current }}</span></li>

        <li class="page-item" v-if="current+1 <= totalPages"><a class="page-link" @click.prevent="$emit('changePage', current+1)" href="#">{{ current+1 }}</a></li>
        <li class="page-item" v-if="current+2 < totalPages"><a class="page-link" @click.prevent="$emit('changePage', current+2)" href="#">{{ current+2 }}</a></li>
        <li class="page-item" v-if="current+3 <= totalPages"><a class="page-link" @click.prevent="$emit('changePage', current+3)" href="#">{{ current+3 }}</a></li>

        <li class="page-item" :class="totalPages == current ? 'disabled': ''"><a class="page-link" @click.prevent="$emit('changePage', current+1)" href="#">»</a></li>
    </ul>
</template>

<script>
    export default {
        props: ['current', 'total', 'perPage'],
        data(){
            return {
                totalPages:0,
                nextPage: this.current + 1,
                prevPage: this.current - 1,
            }
        },
        beforeMount() {
            this.totalPages = Math.ceil(this.total / this.perPage);
        }
    }
</script>

<style scoped>

</style>
