<template>
    <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

            <template v-if="checkRole('admin')">
                <li class="nav-item">
                    <router-link :to="{name:'dashboard'}" exact class="nav-link" active-class="active">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Консоль</p>
                    </router-link>
                </li>
                <li class="nav-item">
                    <router-link :to="{name:'advertiser'}" class="nav-link" active-class="active">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Рекламодатели</p>
                    </router-link>
                </li>
                <li class="nav-item">
                    <router-link :to="{name:'user'}" class="nav-link" active-class="active">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Пользователи</p>
                    </router-link>
                </li>
                <li class="nav-item">
                    <router-link :to="{name:'role'}" class="nav-link" active-class="active">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Роли</p>
                    </router-link>
                </li>
                <li class="nav-item">
                    <router-link :to="{name:'permission'}" class="nav-link" active-class="active">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Права</p>
                    </router-link>
                </li>
                <li class="nav-item">
                    <router-link :to="{name:'click'}" class="nav-link" active-class="active">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Клики</p>
                    </router-link>
                </li>
                <li class="nav-item">
                    <router-link :to="{name:'geo'}" class="nav-link" active-class="active">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Гео</p>
                    </router-link>
                </li>
                <li class="nav-item">
                    <router-link :to="{name:'currency'}" class="nav-link" active-class="active">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Валюта</p>
                    </router-link>
                </li>
            </template>
            <li class="nav-item">
                <router-link :to="{name:'statistics'}" class="nav-link" active-class="active">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Статистика</p>
                </router-link>
            </li>
            <li class="nav-item">
                <router-link :to="{name:'lead'}" class="nav-link" active-class="active">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Лиды</p>
                </router-link>
            </li>
            <li class="nav-item">
                <router-link :to="{name:'stream'}" class="nav-link" active-class="active">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Потоки</p>
                </router-link>
            </li>
            <li class="nav-item">
                <router-link :to="{name:'finance'}" class="nav-link" active-class="active">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Финансы</p>
                </router-link>
            </li>
            <li class="nav-item">
                <router-link :to="{name:'offer'}" class="nav-link" active-class="active">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Офферы</p>
                </router-link>
            </li>
        </ul>
    </nav>
</template>

<script>
    import {mapGetters} from 'vuex';

    export default {
        computed:{
            ...mapGetters(['checkRole']),
        }
    }
</script>

<style scoped>

</style>
