<template>
    <div @click.prevent="toggleSidebar">
        <slot></slot>
    </div>
</template>

<script>
    import {mapActions} from 'vuex';

    export default {
       methods:{
           ...mapActions(['toggleSidebar']),
       }
    }
</script>

<style scoped>

</style>
