<template>
    <div>
        <ag-grid-vue style="width: 100%; height: 700px;"
                     class="ag-theme-balham"
                     @grid-ready="onGridReady"
                     @sortChanged="sortChanged"
                     @filterChanged="filterChanged"
                     @filterModified="filterModified"
                     @displayedColumnsChanged="displayedColumnsChanged"
                     @columnResized="columnResized"
                     @columnMoved="columnMoved"
                     @columnVisible="columnVisible"
                     @columnPinned="columnPinned"
                     :gridOptions="gridOptions"
                     :defaultColDef="defaultColDef"
                     :columnDefs="columnDefs"
                     :rowGroupPanelShow="rowGroupPanelShow"
                     :sideBar="true"
                     :rowData="rowData">
        </ag-grid-vue>
    </div>
</template>

<script>
    import 'ag-grid-enterprise';
    import {AgGridVue} from 'ag-grid-vue';

    export default {
        components: {
            AgGridVue
        },
        props: ['apiUrl'],
        data() {
            return {
                gridOptions: {
                    localeText: {
                        page: "Страница",
                        more: "ещё",
                        to: "к",
                        of: "из",
                        next: "Следующая",
                        last: "Последняя",
                        first: "Первая",
                        previous: "Предыдущая",
                        loadingOoo: "Загрузка...",

                        selectAll: "Выбрать все",
                        searchOoo: "Поиск...",
                        blanks: "Пусто",

                        filterOoo: "Фильтровать...",
                        applyFilter: "Применить фильтр...",

                        equals: "Эквивалентно",
                        lessThan: "Меньше, чем",
                        greaterThan: "Больше, чем",
                        inRange: 'В диапозоне',

                        contains: "Содержит",
                        startsWith: "Начинается с",
                        endsWith: "Заканчивается на",

                        group: "Группа",

                        columns: "Столбцы",
                        rowGroupColumns: "Столбцы группировки по строкам",
                        rowGroupColumnsEmptyMessage: "Перетяните сюда для группировки по строкам",
                        valueColumns: "Столбцы со значениями",
                        pivotMode: "Режим сводной таблицы",
                        groups: "Группировка по строкам",
                        values: "Значения",
                        pivots: "Заголовки столбцов",
                        valueColumnsEmptyMessage: "Перетяните сюда для агрегации",
                        pivotColumnsEmptyMessage: "Перетяните сюда, чтобы задать загаловки столбцов",
                        toolPanelButton: "Панель инструментов",

                        noRowsToShow: "Нет данных",

                        pinColumn: "Закрепить колонку",
                        valueAggregation: "Агрегация по значению",
                        autosizeThiscolumn: "Задать авторазмер этой колонки",
                        autosizeAllColumns: "Задать авторазмер всех колонок",
                        groupBy: "Группировать по",
                        ungroupBy: "Разгруппировать по",
                        resetColumns: "Сбросить столбцы",
                        expandAll: "Развернуть все",
                        collapseAll: "Свернуть все",
                        toolPanel: "Панель инструментов",
                        export: "Экспорт",
                        csvExport: "Экспорт в CSV",
                        excelExport: "Экспорт в Excel",

                        pinLeft: "Закрепить слева",
                        pinRight: "Закрепить справа",
                        noPin: "Не прикреплять",

                        sum: "Сумма",
                        min: "Минимум",
                        max: "Максимум",
                        none: "Пусто",
                        count: "Количество",
                        average: "Усредненное значение",

                        copy: "Копировать",
                        copyWithHeaders: "Копировать с заголовком",
                        ctrlC: "Ctrl+C",
                        paste: "Вставить",
                        ctrlV: "Ctrl+V"
                    },
                    //groupUseEntireRow: true,
                    //groupRowRenderer: 'agGroupCellRenderer',
                },
                defaultColDef: null,
                columnDefs: null,
                gridApi: null,
                columnApi: null,
                rowData: null,
                rowGroupPanelShow: 'always',
            }
        },
        beforeMount() {

            this.columnDefs = [
                {
                    headerName: '',
                    children: [
                        {
                            headerName: 'Дата',
                            field: 'click_date',
                            filter: 'agDateColumnFilter',
                            rowGroup: true,
                            enableRowGroup: true,
                            filterParams:{
                                comparator: function (filterLocalDateAtMidnight, cellValue) {
                                    let dateAsString = cellValue;
                                    if (dateAsString == null) return 0;
                                    let dateParts = dateAsString.split('-');

                                    let year = Number(dateParts[0]);
                                    let month = Number(dateParts[1]) - 1;
                                    let day = Number(dateParts[2]);
                                    let cellDate = new Date(year, month, day);
                                    if (cellDate < filterLocalDateAtMidnight) {
                                        return -1;
                                    } else if (cellDate > filterLocalDateAtMidnight) {
                                        return 1;
                                    } else {
                                        return 0;
                                    }
                                }
                            }
                        },
                        {
                            headerName: 'Поток',
                            field: 'stream_id',
                            rowGroup: true,
                            enableRowGroup: true,
                        },
                        {
                            headerName: 'Оффер',
                            field: 'offer_name',
                            enableRowGroup: true,
                        },
                    ],
                },
                {
                    headerName: 'Аналитика',
                    headerClass: 'analytics-group',
                    children: [
                        {
                            headerName: 'Гео',
                            field: 'click_geo_iso_2',
                            enableRowGroup: true,
                        },
                        {
                            headerName: 'CR',
                            field: 'cr',
                            filter: 'agNumberColumnFilter',
                            aggFunc: 'avg',
                        },
                        {
                            headerName: 'EPC',
                            field: 'epc',
                            filter: 'agNumberColumnFilter',
                            aggFunc: 'avg',
                            allowedAggFuncs: ['sum', 'min', 'max', 'avg']
                        },
                        {
                            headerName: 'Клики',
                            field: 'clicks',
                            filter: 'agNumberColumnFilter',
                            aggFunc: 'sum',
                            allowedAggFuncs: ['sum', 'min', 'max', 'avg'],
                        },
                    ],
                },
                {
                    headerName: 'Лиды',
                    headerClass: 'leads-group',
                    children: [
                        {
                            headerName: 'Всего',
                            field: 'leads',
                            filter: 'agNumberColumnFilter',
                            aggFunc: 'sum',
                            allowedAggFuncs: ['sum', 'min', 'max', 'avg'],
                        },
                        {
                            headerName: 'Новых',
                            field: 'leads_new',
                            filter: 'agNumberColumnFilter',
                            aggFunc: 'sum',
                            allowedAggFuncs: ['sum', 'min', 'max', 'avg'],
                        },
                        {
                            headerName: 'Одобренно',
                            field: 'leads_confirm',
                            filter: 'agNumberColumnFilter',
                            aggFunc: 'sum',
                            allowedAggFuncs: ['sum', 'min', 'max', 'avg'],
                        },
                        {
                            headerName: 'Откланенно',
                            field: 'leads_decline',
                            filter: 'agNumberColumnFilter',
                            aggFunc: 'sum',
                            allowedAggFuncs: ['sum', 'min', 'max', 'avg'],
                        },
                        {
                            headerName: 'Трэш',
                            field: 'leads_trash',
                            filter: 'agNumberColumnFilter',
                            aggFunc: 'sum',
                            allowedAggFuncs: ['sum', 'min', 'max', 'avg'],
                        },
                    ],
                },
                {
                    headerName: 'Финансы',
                    headerClass: 'finance-group',
                    children: [
                        {
                            headerName: 'Всего',
                            field: 'money_total',
                            filter: 'agNumberColumnFilter',
                            aggFunc: 'sum',
                            allowedAggFuncs: ['sum', 'min', 'max', 'avg'],
                        },
                        {
                            headerName: 'Новых',
                            field: 'money_new',
                            filter: 'agNumberColumnFilter',
                            aggFunc: 'sum',
                            allowedAggFuncs: ['sum', 'min', 'max', 'avg'],
                        },
                        {
                            headerName: 'Одобренно',
                            field: 'money_confirm',
                            filter: 'agNumberColumnFilter',
                            aggFunc: 'sum',
                            allowedAggFuncs: ['sum', 'min', 'max', 'avg'],
                        },
                        {
                            headerName: 'Откланенно',
                            field: 'money_decline',
                            filter: 'agNumberColumnFilter',
                            aggFunc: 'sum',
                            allowedAggFuncs: ['sum', 'min', 'max', 'avg'],
                        },
                        {
                            headerName: 'Трэш',
                            field: 'money_trash',
                            filter: 'agNumberColumnFilter',
                            aggFunc: 'sum',
                            allowedAggFuncs: ['sum', 'min', 'max', 'avg'],
                        },
                    ],
                }
            ];
            this.defaultColDef = {
                resizable: true,
                sortable: true,
                enableValue: true,
                filter: true,
            };

            axios.get('/admin/api/statistics')
                .then((result) => {
                    return result.data;
                })
                .then((rowData) => {
                    this.rowData = rowData;
                });

            /*this.localeText = {
                page: "daPage",
                more: "daMore",
                to: "daTo",
                of: "daOf",
                next: "daNexten",
                last: "daLasten",
                first: "daFirsten",
                previous: "daPreviousen",
                loadingOoo: "daLoading...",
                selectAll: "daSelect Allen",
                searchOoo: "daSearch...",
                blanks: "daBlanc",
                filterOoo: "daFilter...",
                applyFilter: "daApplyFilter...",
                equals: "daEquals",
                notEqual: "daNotEqual",
                lessThan: "daLessThan",
                greaterThan: "daGreaterThan",
                lessThanOrEqual: "daLessThanOrEqual",
                greaterThanOrEqual: "daGreaterThanOrEqual",
                inRange: "daInRange",
                contains: "daContains",
                notContains: "daNotContains",
                startsWith: "daStarts dawith",
                endsWith: "daEnds dawith",
                andCondition: "daAND",
                orCondition: "daOR",
                group: "laGroup",
                columns: "laColumns",
                filters: "laFilters",
                rowGroupColumns: "laPivot Cols",
                rowGroupColumnsEmptyMessage: "la drag cols to group",
                valueColumns: "laValue Cols",
                pivotMode: "laPivot-Mode",
                groups: "laGroups",
                values: "laValues",
                pivots: "laPivots",
                valueColumnsEmptyMessage: "la drag cols to aggregate",
                pivotColumnsEmptyMessage: "la drag here to pivot",
                toolPanelButton: "la tool panel",
                noRowsToShow: "la no rows",
                pinColumn: "laPin Column",
                valueAggregation: "laValue Agg",
                autosizeThiscolumn: "laAutosize Diz",
                autosizeAllColumns: "laAutsoie em All",
                groupBy: "laGroup by",
                ungroupBy: "laUnGroup by",
                resetColumns: "laReset Those Cols",
                expandAll: "laOpen-em-up",
                collapseAll: "laClose-em-up",
                toolPanel: "laTool Panelo",
                export: "laExporto",
                csvExport: "laCSV Exportp",
                excelExport: "laExcel Exporto (.xlsx)",
                excelXmlExport: "laExcel Exporto (.xml)",
                pivotChartAndPivotMode: "laPivot Chart & Pivot Mode",
                pivotChart: "laPivot Chart",
                chartRange: "laChart Range",
                columnChart: "laColumn",
                groupedColumn: "laGrouped",
                stackedColumn: "laStacked",
                normalizedColumn: "la100% Stacked",
                barChart: "laBar",
                groupedBar: "laGrouped",
                stackedBar: "laStacked",
                normalizedBar: "la100% Stacked",
                pieChart: "laPie",
                pie: "laPie",
                doughnut: "laDoughnut",
                line: "laLine",
                xyChart: "laX Y (Scatter)",
                scatter: "laScatter",
                bubble: "laBubble",
                areaChart: "laArea",
                area: "laArea",
                stackedArea: "laStacked",
                normalizedArea: "la100% Stacked",
                pinLeft: "laPin &lt;&lt;",
                pinRight: "laPin &gt;&gt;",
                noPin: "laDontPin &lt;&gt;",
                sum: "laSum",
                min: "laMin",
                max: "laMax",
                none: "laNone",
                count: "laCount",
                average: "laAverage",
                filteredRows: "laFiltered",
                selectedRows: "laSelected",
                totalRows: "laTotal Rows",
                totalAndFilteredRows: "laRows",
                copy: "laCopy",
                copyWithHeaders: "laCopy Wit hHeaders",
                ctrlC: "ctrl n C",
                paste: "laPaste",
                ctrlV: "ctrl n V",
                pivotChartTitle: "laPivot Chart",
                rangeChartTitle: "laRange Chart",
                settings: "laSettings",
                data: "laData",
                format: "laFormat",
                categories: "laCategories",
                series: "laSeries",
                axis: "laAxis",
                color: "laColor",
                thickness: "laThickness",
                xRotation: "laX Rotation",
                yRotation: "laY Rotation",
                ticks: "laTicks",
                width: "laWidth",
                length: "laLength",
                padding: "laPadding",
                chart: "laChart",
                title: "laTitle",
                font: "laFont",
                top: "laTop",
                right: "laRight",
                bottom: "laBottom",
                left: "laLeft",
                labels: "laLabels",
                size: "laSize",
                legend: "laLegend",
                position: "laPosition",
                markerSize: "laMarker Size",
                markerStroke: "laMarker Stroke",
                markerPadding: "laMarker Padding",
                itemPaddingX: "laItem Padding X",
                itemPaddingY: "laItem Padding Y",
                strokeWidth: "laStroke Width",
                offset: "laOffset",
                tooltips: "laTooltips",
                offsets: "laOffsets",
                callout: "laCallout",
                markers: "laMarkers",
                shadow: "laShadow",
                blur: "laBlur",
                xOffset: "laX Offset",
                yOffset: "laY Offset",
                lineWidth: "laLine Width",
                normal: "laNormal",
                bold: "laBold",
                italic: "laItalic",
                boldItalic: "laBold Italic",
                fillOpacity: "laFill Opacity",
                strokeOpacity: "laLine Opacity",
                columnGroup: "laColumn",
                barGroup: "laBar",
                pieGroup: "laPie",
                lineGroup: "laLine",
                scatterGroup: "laScatter",
                areaGroup: "laArea",
                groupedColumnTooltip: "laGrouped",
                stackedColumnTooltip: "laStacked",
                normalizedColumnTooltip: "la100% Stacked",
                groupedBarTooltip: "laGrouped",
                stackedBarTooltip: "laStacked",
                normalizedBarTooltip: "la100% Stacked",
                pieTooltip: "laPie",
                doughnutTooltip: "laDoughnut",
                lineTooltip: "laLine",
                groupedAreaTooltip: "laGrouped",
                stackedAreaTooltip: "laStacked",
                normalizedAreaTooltip: "la100% Stacked",
                scatterTooltip: "laScatter",
                bubbleTooltip: "laBubble",
                noDataToChart: "laNo data available to be charted.",
                pivotChartRequiresPivotMode: "laPivot Chart requires Pivot Mode enabled."
            }*/
        },

        methods:{
            onGridReady(){
                //let columnState = localStorage.getItem('statistics');
                //if(columnState){
                //    this.gridColumnApi.setColumnState(JSON.parse(columnState));
                //}
            },
            sortChanged(){
                localStorage.setItem('statistics-sort', JSON.stringify(this.gridColumnApi.getSortModel()));
            },
            filterChanged(){
                localStorage.setItem('statistics-filter', JSON.stringify(this.gridColumnApi.getFilterModel()));
            },
            filterModified(){
                localStorage.setItem('statistics-filter', JSON.stringify(this.gridColumnApi.getColumnState()));
            },
            displayedColumnsChanged(){
                localStorage.setItem('statistics', JSON.stringify(this.gridColumnApi.getColumnState()));
            },
            columnResized(){
                localStorage.setItem('statistics', JSON.stringify(this.gridColumnApi.getColumnState()));
            },
            columnMoved(){
                localStorage.setItem('statistics', JSON.stringify(this.gridColumnApi.getColumnState()));
            },
            columnVisible(){
                localStorage.setItem('statistics', JSON.stringify(this.gridColumnApi.getColumnState()));
            },
            columnPinned(){
                localStorage.setItem('statistics', JSON.stringify(this.gridColumnApi.getColumnState()));
            },

        },

        mounted() {
            this.gridApi = this.gridOptions.api;
            this.gridColumnApi = this.gridOptions.columnApi;

            let columnState = localStorage.getItem('statistics');
            if(columnState){
                this.gridColumnApi.setColumnState(JSON.parse(columnState));
            }

            let sortModel = localStorage.getItem('statistics-sort');
            if(sortModel){
                this.gridColumnApi.setSortModel(JSON.parse(sortModel));
            }

            let filterModel = localStorage.getItem('statistics-filter');
            if(filterModel){
                this.gridColumnApi.setFilterModel(JSON.parse(filterModel));
            }
        }
    }
</script>

<style scoped>

</style>
