<template>
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
            <img src="/assets/admin/img/user2-160x160.jpg" class="img-circle elevation-2" :alt="getUser.name">
        </div>
        <div class="info">
            <a href="#" class="d-block">
                {{ getUser.name }}<br>
                <template v-for="(amount, code) in getUserBalances">
                    {{ code }} : {{ amount }}<br>
                </template>
            </a>
        </div>
    </div>
</template>

<script>
    import {mapGetters} from "vuex";

    export default {
        computed:{
            ...mapGetters([
                'getUserBalances',
                'getUser',
            ])
        },
    }
</script>

<style scoped>

</style>
