<template>
    <card title="Гео" body-class="p-0" :loading="!loaded">
        <template slot="tools" v-if="loaded">
            <pagination @changePage="changePage" :current="geos.meta.current_page" :total="geos.meta.total" :per-page="geos.meta.per_page"></pagination>
        </template>
        <table class="table table-striped table-sm">
            <thead>
            <tr>
                <th>Флаг</th>
                <th>id</th>
                <th>name_en</th>
                <th>name_ru</th>
                <th>iso_2</th>
                <th>iso_3</th>
                <th>iso_num</th>
                <th>Управление</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="geo in geos.data">
                <td>
                    <flag size="16" :code="geo.iso_2" :name="geo.name_ru"></flag>
                </td>
                <td>{{ geo.id }}</td>
                <td>{{ geo.name_en }}</td>
                <td>{{ geo.name_ru }}</td>
                <td>{{ geo.iso_2 }}</td>
                <td>{{ geo.iso_3 }}</td>
                <td>{{ geo.iso_num }}</td>
                <td>
                    <div class="btn-group">
                        <router-link :to="{name: 'geo_edit', params:{id:geo.id}}" class="btn btn-default btn-xs"><i class="fas fa-edit"></i></router-link>
                        <button class="btn btn-default btn-xs" @click.prevent="destroy(geo.id)"><i class="fas fa-trash"></i></button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <template slot="footer" v-if="loaded">
            <router-link class="btn btn-primary btn-xs" :to="{ name: 'geo_add' }">Добавить гео</router-link>
            <pagination @changePage="changePage" :current="geos.meta.current_page" :total="geos.meta.total" :per-page="geos.meta.per_page"></pagination>
        </template>
    </card>
</template>

<script>
    import Card from '../Card';
    import Pagination from '../Pagination';
    import {apiDestroy, apiIndex} from '../../api';
    import Swal from 'sweetalert2';
    import Flag from "../Flag";

    export default {
        components: {
            Flag,
            Pagination,
            Card
        },
        data(){
            return {
                loaded: false,
                geos:{},
            }
        },
        methods: {
            changePage(page){
                this.loaded = false;
                apiIndex('geo', page)
                    .then(response => {
                        this.geos = response.data;
                        this.loaded = true;
                        this.$router.push({ name: 'geo_page', params: { num: page } });
                    })
                    .catch(error => {
                        Swal.fire({
                            toast: true,
                            position: 'top-end',
                            showConfirmButton: false,
                            timer: 3000,
                            title: 'Ошибка!',
                            text: error.response.data.message,
                            icon: 'error',
                        });
                    });
            },
            destroy(id){
                apiDestroy('geo', id)
                    .then(response => {
                        this.geos.data.forEach((item, index) => {
                            if(item.id === id){
                                Swal.fire({
                                    toast: true,
                                    position: 'top-end',
                                    showConfirmButton: false,
                                    timer: 3000,
                                    title: `${item.name_ru} id:${id}`,
                                    text: `успешно удаленно`,
                                    icon: 'success',
                                });

                                this.$delete(this.geos.data, index)
                            }
                        });
                        this.geos.meta.total -= 1;
                    })
                    .catch(error => {
                        console.log(error.response);
                        Swal.fire({
                            toast: true,
                            position: 'top-end',
                            showConfirmButton: false,
                            timer: 3000,
                            title: 'Ошибка!',
                            text: error.response.data.message,
                            icon: 'error',
                        });
                    });
            },
        },
        mounted() {

            let page = this.$route.params.num ? this.$route.params.num : 1;

            apiIndex('geo', page)
                .then(response => {
                    this.geos = response.data;
                    this.loaded = true;
                })
                .catch(error => {
                    Swal.fire({
                        toast: true,
                        position: 'top-end',
                        showConfirmButton: false,
                        timer: 3000,
                        title: 'Ошибка!',
                        text: error.response.data.message,
                        icon: 'error',
                    });
                });
        }
    }
</script>

<style scoped>

</style>
