<template>
    <card title="Потоки" body-class="p-0" :loading="!loaded">
        <template slot="tools" v-if="loaded && advertiser.meta.last_page > 1">
            <pagination @changePage="changePage" :current="advertiser.meta.current_page" :total="advertiser.meta.total" :per-page="advertiser.meta.per_page"></pagination>
        </template>
        <table class="table table-striped table-sm">
            <thead>
            <tr>
                <th>id</th>
                <th>Название</th>
                <th>Статус</th>
                <th>Параметры</th>
                <th>Создан</th>
                <th>Изменён</th>
                <th>Управление</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="advertiser in advertiser.data">
                <td>{{ advertiser.id }}</td>
                <td>{{ advertiser.name }}</td>
                <td>{{ advertiser.status }}</td>
                <td>
                    <template v-for="(value, key) in advertiser.params">{{ key }} : {{ value }}<br></template>
                </td>
                <td>{{ advertiser.created_at }}</td>
                <td>{{ advertiser.updated_at }}</td>
                <td>
                    <div class="btn-group">
                        <router-link title="Изменить" :to="{name: 'advertiser_edit', params:{id:advertiser.id}}" class="btn btn-default btn-xs"><i class="fas fa-edit"></i></router-link>
                        <button title="Удалить" class="btn btn-default btn-xs" @click.prevent="destroy(advertiser.id)"><i class="fas fa-trash"></i></button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <template slot="footer" v-if="loaded && advertiser.meta.last_page > 1">
            <pagination @changePage="changePage" :current="advertiser.meta.current_page" :total="advertiser.meta.total" :per-page="advertiser.meta.per_page"></pagination>
        </template>
    </card>
</template>

<script>
    import Swal from 'sweetalert2';
    import Card from '../Card';
    import Pagination from '../Pagination';
    import {apiDestroy, apiIndex} from '../../api';

    export default {
        components: {
            Pagination,
            Card
        },
        data(){
            return {
                loaded: false,
                advertiser:{},
            }
        },
        methods: {
            changePage(page){
                this.loaded = false;
                apiIndex('advertiser', page)
                    .then(response => {
                        this.streams = response.data;
                        this.loaded = true;
                        this.$router.push({ name: 'advertiser_page', params: { num: page } });
                    })
                    .catch(error => {
                        Swal.fire({
                            toast: true,
                            position: 'top-end',
                            showConfirmButton: false,
                            timer: 3000,
                            title: 'Ошибка!',
                            text: error.response.data.message,
                            icon: 'error',
                        });
                    });
            },
            destroy(id){
                apiDestroy('stream', id)
                    .then(response => {
                        this.advertiser.data.forEach((item, index) => {
                            if(item.id === id){
                                Swal.fire({
                                    toast: true,
                                    position: 'top-end',
                                    showConfirmButton: false,
                                    timer: 3000,
                                    title: `${item.name_ru} id:${id}`,
                                    text: `успешно удаленно`,
                                    icon: 'success',
                                });

                                this.$delete(this.advertiser.data, index)
                            }
                        });
                        this.advertiser.meta.total -= 1;
                    })
                    .catch(error => {
                        Swal.fire({
                            toast: true,
                            position: 'top-end',
                            showConfirmButton: false,
                            timer: 3000,
                            title: 'Ошибка!',
                            text: error.response.data.message,
                            icon: 'error',
                        });
                    });
            },
        },
        mounted() {
            let page = this.$route.params.num ? this.$route.params.num : 1;

            apiIndex('advertiser', page)
                .then(response => {
                    this.advertiser = response.data;
                    this.loaded = true;
                })
                .catch(error => {
                    Swal.fire({
                        toast: true,
                        position: 'top-end',
                        showConfirmButton: false,
                        timer: 3000,
                        title: 'Ошибка!',
                        text: error.response.data.message,
                        icon: 'error',
                    });
                });
        }
    }
</script>

<style scoped>

</style>
